%html{:lang=>"en"}
  %head
    %title Asterism
    %meta{:charset=>'UTF-8'}
    %meta{:name=>'viewport', :content=>'width=device-width, initial-scale=1.0'}
    %link{:rel=>'stylesheet', :href=>'style.css'}
    %link{:rel=>'stylsheet', :href=>'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}
  %body
    %nav
      %header
        %h1 Asterism
      %ul.nav
        %li 
          %a{:href=>'#'} Home
        %li 
          %a{:href=>'#'} About Asterism
        %li 
          %a{:href=>'#'} FAQS
        %li 
          %a{:href=>'#'} Purchase Now
        %li 
          %a{:href=>'#'} Contact

    .container
      .divider
      .posts
        .featured-post
          %img{:src=>'https://unsplash.it/500/400?random'}
          .featured-bg
          .featured-content
            .featured-title Sample Featured Title
            .featured-desc Featured content blablablablablabla
        .divider
        .post
          %img{:src=>'https://unsplash.it/400?random'}
          .post-content
            .post-title Wypas Cookie Caramels
            .divider
            .post-date 4.02.2013
            .post-desc Some post description here but honestly, does anyone read this?
            %button.btn-post Continue-reading
        .divider
        .pagination

      .sidebar
        .widget.welcome
          %h3.widget-title Welcome
          %p.widget-content Asterism is a modern and responsive Blogger template for fashion/lifestyle blogs, Here you can add a welcome text.
        .widget.socials
          %a{:href=>'#'}
            %i.fa.fa-shopping-cart
          %a{:href=>'#'}
            %i.fa.fa-instagram
          %a{:href=>'#'}
            %i.fa.fa-facebook
          %a{:href=>'#'}
            %i.fa.fa-pinterest-p
          %a{:href=>'#'}
            %i.fa.fa-twitter
        .widget.sub
        .widget.gallery
        .widget.categories
        .widget.search
        .widget.sidebar-featured
        .widget.archive

    %footer
      .footer-brand


